.symbolsView__cards {
    width: 100%;
    background: lightgrey;
    border-radius: 4px; 
}


.symbolsView__content {
    display: flex;
    flex-direction: row-reverse;
}
  
@media (max-width: 1023px) {
    .symbolsView__content {
        flex-direction: column;
        gap: 4rem;
    }
}